body {

    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/74/Basho_Horohoroto.jpg");
    height: 800px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

}
